.git
.github
.idea
.vscode
.env
.env.*
!.env.docker.example
**/.DS_Store
**/Thumbs.db
**/*.log
**/node_modules
**/vendor
**/dist
**/dist-package
**/.npm-cache
backend/storage/app/private
backend/storage/app/public
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/bootstrap/cache/*.php
backend/database/*.sqlite
landing-page-sdk/starter/dist
landing-page-sdk/starter/dist-package
tmp
temp
